
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <%= form_tag sessions_path  :class => "form-signin" do %>
                   <input type="text" class="form-control"  id="email" name="email" placeholder="Email" required autofocus>
                   <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                     <%= submit_tag "Log in", class: "btn btn-lg btn-primary btn-block"%>
                <% end %>
            </div>
            <a href="/sign_up" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>