<% provide(:title, "Edit user") %>
<h2 id="success"></h2>
<script language="javascript" type="text/javascript" src="update.js.erb"></script>

<div class="row">
<h1>Your file</h1>
  <div class="span6 offset3">
    <p>Your name is <%=@admin.firstname%></p>
    <p>Your surname is <%=@admin.lastname%></p>
   <p> Your email is <%=@admin.email%></p>
    <button class="btn btn-primary btn" data-toggle="modal" data-target="#myModal" id="button">
  Edit admin
</button>
<%= render "admins/modal"%>
  </div>
</div>