<!Doctype html>
<html>
<head>

</head>
<body>

<%if @users!=nil%>
<input type="text" name="search" id="search" size="30">

<div id="users">
 <%=render "users/sortable_list"%>
</div>




<%end%>



</body>
</html>